node_modules
_pycache_
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

scripts/__pycache__/00_deply_and_upgrade.cpython-310.pyc
scripts/__pycache__/01_deploy_membership.cpython-310.pyc
scripts/__pycache__/01_deply_and_upgrade_ membership.cpython-310.pyc
scripts/__pycache__/02_upgrade_membership.cpython-310.pyc
scripts/__pycache__/deploy_membership_v1.cpython-310.pyc
scripts/__pycache__/deploy_membership.cpython-310.pyc
scripts/__pycache__/helper.cpython-310.pyc
scripts/__pycache__/upgrade_membership_v2.cpython-310.pyc
scripts/__pycache__/upgrade_membership.cpython-310.pyc
tests/__pycache__/conftest.cpython-310-pytest-6.2.5.pyc
tests/__pycache__/test_iterable_map.cpython-310-pytest-6.2.5.pyc
tests/__pycache__/test_membership.cpython-310-pytest-6.2.5.pyc
build/tests.json
build/contracts/Counters.json
build/contracts/MemberMap.json
build/contracts/Membership.json
build/contracts/MembershipV2.json
build/contracts/ProxyAdmin.json
build/contracts/TestMap.json
build/contracts/TransparentUpgradeableProxy.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts-upgradeable@4.7.3/ContextUpgradeable.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts-upgradeable@4.7.3/Initializable.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts-upgradeable@4.7.3/OwnableUpgradeable.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/Context.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/Counters.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/ERC1967Proxy.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/ERC1967Upgrade.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/IBeacon.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/IERC1822Proxiable.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/Ownable.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/Proxy.json
build/contracts/dependencies/OpenZeppelin/openzeppelin-contracts@4.7.3/StorageSlot.json
package-lock.json
